.android-large-11 .rectangle-201 {
  filter: blur(27.5px);
  border: 5px solid #FFFFFF;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 3px;
  height: 66px;
}
.android-large-11 .pm {
  margin: 0 0 1px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inder';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-11 .rectangle-24 {
  background: url('../assets/images/rectangle_28.png') 50% / cover no-repeat;
  margin-right: 10.3px;
  width: 44px;
  height: 32px;
}
.android-large-11 .container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.android-large-11 .rectangle-19 {
  background: url('../assets/images/rectangle_20.png') 50% / cover no-repeat;
  margin-right: 7px;
  width: 23px;
  height: 23px;
}
.android-large-11 .rectangle-20 {
  background: url('../assets/images/rectangle_21.png') 50% / cover no-repeat;
  transform: rotate(89.488deg);
  margin: 4px 0 0.5px 0;
  width: 21.2px;
  height: 18.5px;
}
.android-large-11 .container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 51.2px;
  height: fit-content;
  box-sizing: border-box;
}
.android-large-11 .container-6 {
  margin: 0 8.8px 17px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 8.8px);
  box-sizing: border-box;
}
.android-large-11 .rectangle-25 {
  background: url('../assets/images/rectangle_211.png') 50% / cover no-repeat;
  margin-bottom: 1px;
  width: 27px;
  height: 28px;
}
.android-large-11 .find-in-album {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.android-large-11 .container-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 2px solid #3D3939;
  position: relative;
  margin: 0 0 27px 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 0 6px 7px;
  width: calc(100% - 3px);
  box-sizing: border-box;
}
.android-large-11 .download-6 {
  background: url('../assets/images/download_1.jpeg') 50% / cover no-repeat;
  margin: 0 0 38px 40px;
  align-self: center;
  width: 216px;
  height: 196px;
}
.android-large-11 .animal {
  margin: 0 23px 3px 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.android-large-11 .album-2023 {
  margin: 0 23px 12px 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-11 .ellipse-3 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 31px;
  height: 30px;
}
.android-large-11 .container {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #3F3C3C;
}
.android-large-11 .add {
  position: relative;
  margin: 1px 2px 0 0;
  display: flex;
  padding: 6px 13.4px 5px 10px;
  box-sizing: border-box;
}
.android-large-11 .rectangle-26 {
  background: url('../assets/images/rectangle_26.png') 50% / cover no-repeat;
  margin-right: 13px;
  width: 31px;
  height: 31px;
}
.android-large-11 .container-1 {
  margin: 1px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 8px;
  color: #FFFFFF;
}
.android-large-11 .container-5 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.android-large-11 .rectangle-27 {
  background: url('../assets/images/rectangle_27.png') 50% / cover no-repeat;
  margin: 5px 0 2px 0;
  width: 24px;
  height: 24px;
}
.android-large-11 .ellipse-4 {
  margin: 5px 0 2px 0;
  width: 28px;
  height: 24px;
}
.android-large-11 .container-3 {
  margin: 0 18px 39px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 48px);
  box-sizing: border-box;
}
.android-large-11 .arjan-vailly-manan-bhardwaj-bhupinder-babbal {
  margin-right: 17.5px;
  width: 287.5px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.arjan-vailly-manan-bhardwaj-bhupinder-babbal {
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #5A5959;
}
.android-large-11 .container-2 {
  margin: 5px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 5px;
  color: #FFFFFF;
}
.android-large-11 .arjan-vailly {
  margin: 0 13.6px 44px 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 32.6px);
  box-sizing: border-box;
}
.android-large-11 .hua-main-raghav-chaitanya-manoj-muntas {
  margin: 1px 17.5px 0 0;
  width: 290.5px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.hua-main-raghav-chaitanya-manoj-muntas {
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #5A5959;
}
.android-large-11 .container-3 {
  margin-bottom: 18px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 5px;
  color: #FFFFFF;
}
.android-large-11 .hua-main {
  margin: 0 13.6px 29px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 29.6px);
  box-sizing: border-box;
}
.satranga-arjit-singh-sheryas-puraniksiddharth {
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
  color: #5A5959;
}
.android-large-11 .satranga-arjit-singh-sheryas-puraniksiddharth {
  margin-right: 17.5px;
  width: 287.5px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-11 .container-4 {
  margin: 4px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 5px;
  color: #FFFFFF;
}
.android-large-11 .satranga {
  margin: 0 13.6px 42px 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 32.6px);
  box-sizing: border-box;
}
.android-large-11 .rectangle-191 {
  background: url('../assets/images/rectangle_19.png') 50% / cover no-repeat;
  margin: 0 0.2px 19.4px 0;
  width: 35.2px;
  height: 26.6px;
}
.android-large-11 .home-1 {
  margin-left: 0.4px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.android-large-11 .home {
  margin: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.android-large-11 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.android-large-11 .ellipse-2 {
  border-radius: 4.5px;
  background: url('../assets/images/ellipse_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 81px;
  bottom: 369px;
  width: 9px;
  height: 9px;
}
.android-large-11 .rectangle-202 {
  background: url('../assets/images/rectangle_211.png') 50% / cover no-repeat;
  margin: 0 0 13.6px 12.6px;
  width: 30.3px;
  height: 32.4px;
}
.android-large-11 .search-1 {
  margin-right: 1.4px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.android-large-11 .search {
  position: absolute;
  left: 93px;
  bottom: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.android-large-11 .libary-1 {
  margin-bottom: 15px;
  align-self: flex-start;
  width: 41.4px;
  height: 29px;
}
.android-large-11 .your-lib {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.android-large-11 .libary {
  position: absolute;
  right: 102.6px;
  bottom: 2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.android-large-11 .rectangle-21 {
  background: url('../assets/images/rectangle_212.png') 50% / cover no-repeat;
  margin: 0 10.5px 11px 7px;
  width: 43.4px;
  height: 35px;
}
.android-large-11 .premium-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.android-large-11 .premium {
  position: absolute;
  right: 18.1px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.android-large-11 {
  background: linear-gradient(180deg, #A9AA87, #0B0B0B);
  display: flex;
  padding: 0 11px 0 7px;
  box-sizing: border-box;
}
