.android-large-9 .rectangle-30 {
  filter: blur(27.5px);
  border: 5px solid #FFFFFF;
  position: absolute;
  left: -7px;
  bottom: 10px;
  width: 367px;
  height: 89px;
}
.android-large-9 .pm {
  margin: 0 10px 3px 0;
  display: inline-block;
  width: 271px;
  overflow-wrap: break-word;
  font-family: 'Inder';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-9 .rectangle-211 {
  background: url('../assets/images/rectangle_20.png') 50% / cover no-repeat;
  margin-right: 7px;
  width: 23px;
  height: 23px;
}
.android-large-9 .rectangle-22 {
  background: url('../assets/images/rectangle_21.png') 50% / cover no-repeat;
  transform: rotate(89.488deg);
  margin: 4px 0 0.5px 0;
  width: 21.2px;
  height: 18.5px;
}
.android-large-9 .container-5 {
  display: flex;
  flex-direction: row;
  width: 51.2px;
  box-sizing: border-box;
}
.android-large-9 .container-4 {
  margin: 0 6.8px 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6.8px);
  box-sizing: border-box;
}
.android-large-9 .ellipse-3 {
  border-radius: 23.5px;
  background: url('../assets/images/ellipse_3.png') 50% / cover no-repeat;
  margin-right: 15px;
  height: 47px;
  flex-grow: 1;
  flex-basis: 47px;
}
.android-large-9 .all-1 {
  overflow-wrap: break-word;
  font-family: 'Inder';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-9 .all {
  border-radius: 30px;
  background: #2C2C2C;
  position: relative;
  margin: 2px 9px 1px 0;
  padding: 12px 19px;
  flex-grow: 1;
  flex-basis: 64px;
  box-sizing: border-box;
}
.android-large-9 .music-1 {
  overflow-wrap: break-word;
  font-family: 'Inder';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-9 .music {
  border-radius: 20px;
  background: #2C2C2C;
  position: relative;
  margin: 2px 9px 3px 0;
  display: flex;
  padding: 10px 0 12px 0.3px;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 87px;
  box-sizing: border-box;
}
.android-large-9 .podcasts {
  overflow-wrap: break-word;
  font-family: 'Inder';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-9 .prdcasts {
  border-radius: 20px;
  background: #1ED760;
  position: relative;
  margin-top: 5px;
  display: flex;
  padding: 9px 14px 13px 14px;
  flex-grow: 1;
  flex-basis: 106px;
  box-sizing: border-box;
}
.android-large-9 .container-2 {
  margin: 0 0 136px 2px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.android-large-9 .container {
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  color: #2C2C2C;
}
.android-large-9 .rectangle-421 {
  background: url('../assets/images/rectangle_421.jpeg') 50% / cover no-repeat;
  margin-right: 2px;
  height: 96px;
  flex-grow: 1;
  flex-basis: 96px;
}
.android-large-9 .gooning-must-be-stopped {
  margin-bottom: 5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.android-large-9 .episode-hindi-stand {
  margin: 0 18.3px 0 13px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #5A5959;
}
.android-large-9 .container-3 {
  margin: 0 31.3px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 167.7px;
  box-sizing: border-box;
}
.android-large-9 .rectangle-42 {
  background: url('../assets/images/rectangle_42.png') 50% / cover no-repeat;
  margin: 22px 0 47px 0;
  height: 27px;
  flex-grow: 1;
  flex-basis: 27px;
}
.android-large-9 .container {
  margin: 0 1px 27px 0;
  display: flex;
  flex-direction: row;
  width: calc(100% - 1px);
  box-sizing: border-box;
}
.android-large-9 .oct-202336-mins-abhishek-upmanyu-jealous-of-sabziwala-part-2 {
  margin: 0 35.2px 22px 0;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.oct-202336-mins-abhishek-upmanyu-jealous-of-sabziwala-part-2 {
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #5A5959;
}
.android-large-9 .container-1 {
  margin: 32px 9.9px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-size: 8px;
  color: #0B0B0B;
}
.android-large-9 .ellipse-5 {
  margin-top: 36px;
  width: 28px;
  height: 24px;
}
.android-large-9 .container-6 {
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 4px);
  box-sizing: border-box;
}
.android-large-9 .container-7 {
  background: #1ED760;
  position: absolute;
  top: -113px;
  right: -173.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 7px 0 7px;
  width: 339px;
  height: 215px;
  box-sizing: border-box;
}
.android-large-9 .frame-15 {
  position: relative;
  margin: 0 13.7px 480px 0;
  display: flex;
  align-self: center;
  box-sizing: border-box;
}
.android-large-9 .rectangle-19 {
  background: url('../assets/images/rectangle_19.png') 50% / cover no-repeat;
  margin: 0 0.2px 19.4px 0;
  width: 35.2px;
  height: 26.6px;
}
.android-large-9 .home-1 {
  margin-left: 0.4px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.android-large-9 .home {
  margin: 0 17.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.android-large-9 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.android-large-9 .rectangle-20 {
  background: url('../assets/images/rectangle_211.png') 50% / cover no-repeat;
  margin: 0 0 13.6px 12.6px;
  width: 30.3px;
  height: 32.4px;
}
.android-large-9 .search-1 {
  margin-right: 1.4px;
  overflow-wrap: break-word;
  font-family: 'Arial', 'Roboto Condensed';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.android-large-9 .search {
  position: absolute;
  left: 104px;
  bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.android-large-9 .libary-1 {
  margin: 0 15.3px 14px 11.8px;
  width: 41.4px;
  height: 29px;
}
.android-large-9 .your-lib {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}
.android-large-9 .libary {
  position: absolute;
  right: 107.6px;
  bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.android-large-9 .rectangle-21 {
  background: url('../assets/images/rectangle_212.png') 50% / cover no-repeat;
  margin: 0 10.4px 12.6px 7.1px;
  width: 43.4px;
  height: 33.9px;
}
.android-large-9 .premium-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.android-large-9 .premium {
  position: absolute;
  right: 28.1px;
  bottom: 13.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.android-large-9 {
  background: #0B0B0B;
  display: flex;
  padding: 5px 7px 14px 14px;
  box-sizing: border-box;
}
